#App {
  background-color: rgb(41, 54, 68)
}



h2 {
  font-family: futura;
  color: rgb(241, 181, 69);
  margin: 10px;
  float: left;
}

h3 {
  font-family: futura;
  color: rgb(241, 181, 69);
  top: 50%;
}

