#App {
  background-color: white
}

h2 {
  font-family: futura;
  color: orange;
  margin: 10px;
  position: static;
  float: left;
}

.productList {
  top: 300x;
  margin: 60px;
  padding: 10px;
}

#addButton {
  position: absolute;
  top: 50px;
  padding: 10px;
}

.newProduct {
  position: center;
  top: 50px;
  padding: 10px;
}

h3 {
  font-family: futura;
  color: orange;
  top: 50%;
}

amplify-s3-image {
  --height: 200px;
  --width: 200px;
}

amplify-authenticator {
  --height: 200px;
  --width: 200px;
  --border-radius: 10px;
  --position: sticky;
  --float: right
}

button {
  background-color: orange;
  color: white;
  border-style: none;
  padding: 12px;
  margin-left: 30px;
  font-family: futura;
  font-size: 18px;
}

.signout {
  position: sticky;
  float: right;
  z-index: 1;
}

.signin {
  position: sticky;
  float: right
}

.navbar {
  background-color: transparent;
  position: -webkit-sticky; 
  position: sticky;
  padding: 20px
}

#productframe {
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  position: static;
  top: 200px;
  margin-top: 5px;
  padding: 10px;
}